<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">
	<variable name="appType" value="" />
	<variable name="appId" value="" />
	<variable name="appIdFormat" value="XXXX" />
	<targets>
		<!-- 滚动日志，超过10个文件自动删除 -->
		<target name="all" xsi:type="File"
			fileName="${basedir}/../Log/${var:appType}_${var:appIdFormat}/${var:appType}_${var:appIdFormat}_Log.txt"
			archiveFileName="${basedir}/../Log/${var:appType}_${var:appIdFormat}/${var:appType}_${var:appIdFormat}_Log.{##}.txt"
			archiveAboveSize="104857600"
			maxArchiveFiles="10"
			archiveNumbering="Rolling"
			keepFileOpen="true"
			autoFlush="false"
			openFileFlushTimeout="1"
			deleteOldFileOnStartup="false"
			layout="[${longdate}][${level:uppercase=true}][${callsite:captureStackTrace=false:className=false:methodName=false:fileName=true:includeSourcePath=false}] ${message}${onexception:${newline}${exception:format=ToString}}" />
	</targets>

	<!-- 只保存14天的日志 -->
	<targets>
		<target name="error" xsi:type="File"
			fileName="${basedir}/../Log/${var:appType}_${var:appIdFormat}/${var:appType}_${var:appIdFormat}_Error_${date:universalTime=true:format=yyyyMMdd}.log"
			maxArchiveDays="14"
			keepFileOpen="true"
			autoFlush="true"
			deleteOldFileOnStartup="false"
			layout="[${longdate}][${level:uppercase=true}][${callsite:captureStackTrace=false:className=false:methodName=false:fileName=true:includeSourcePath=false}] ${message}${onexception:${newline}${exception:format=ToString}}" />
	</targets>

	<targets>
		<target name="warn" xsi:type="File"
			fileName="${basedir}/../Log/${var:appType}_${var:appIdFormat}/${var:appType}_${var:appIdFormat}_Warn_${date:universalTime=true:format=yyyyMMdd}.log"
			maxArchiveDays="14"
			keepFileOpen="true"
			autoFlush="true"
			deleteOldFileOnStartup="false"
			layout="[${longdate}][${level:uppercase=true}][${callsite:captureStackTrace=false:className=false:methodName=false:fileName=true:includeSourcePath=false}] ${message}${onexception:${newline}${exception:format=ToString}}" />
	</targets>

	<targets>
		<target name="playerLog" xsi:type="File"
			fileName="${basedir}/../Log/${var:appType}_${var:appIdFormat}/${var:appType}_${var:appIdFormat}_PlayerLog_${date:universalTime=true:format=yyyyMMdd}.log"
			maxArchiveDays="14"
			keepFileOpen="true"
			autoFlush="false"
			openFileFlushTimeout="1"
			deleteOldFileOnStartup="false"
			layout="[${longdate}][${callsite:captureStackTrace=false:className=false:methodName=false:fileName=true:includeSourcePath=false}] ${message}" />
	</targets>
	
	<!-- 控制台输出 -->
	<targets>
		<target name="console"
			xsi:type="coloredConsole"
			layout="[${longdate}][${level:uppercase=true}] ${message}${onexception:${newline}${exception:format=ToString}}"
			detectConsoleAvailable="true">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkRed" />
		</target>
	</targets>


	<targets>
		<target xsi:type="Mail" name="mail"
		smtpServer="smtpdm.aliyun.com"
		smtpPort="80"
		smtpAuthentication="Basic"
		smtpUserName="error@error.ieg123.com"
		smtpPassword="uPLL5xwT2nZt5EG3"
		enableSsl="true"
		addNewLines="true"
		from="日志系统 &lt;error@error.ieg123.com&gt;"
		to="154439441@qq.com"
		subject="服务器错误预警[45.125.45.64]"
		header="进程: ${var:appType}_${var:appIdFormat}"
		body="${newline}${message}${onexception:${newline}${exception:format=ToString}}${newline}"
		footer="" />
	</targets>
	
	<rules>
		<!-- 基础日志 -->
		<logger name="*" minlevel="Trace" writeTo="all" />
		<logger name="Logger" minlevel="Warn" maxlevel="Warn" writeTo="warn" />
		<logger name="Logger" minlevel="Error" writeTo="error" />

		<!-- 玩家日志 -->
		<logger name="PlayerLogger" minlevel="Trace" writeTo="playerLog" />

		<!-- 控制台日志输出 -->
		<logger name="Logger" minlevel="Warn" writeTo="console" enabled="true"/>
		<logger name="ConsoleLogger" minlevel="Info" maxlevel="Info" writeTo="console" enabled="true"/>

		<!-- 错误预警 -->
		<logger name="Logger" minlevel="Error" writeTo="mail" enabled="false"/>

	</rules>
</nlog>